<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>

<center><Body bgcolor="pink">
<h1>About</h1>

<hr>
HOME  |  SUBJECTS  |  VIDEOS  |  ABOUT  |  CONTACT US
<hr>
<marquee><h2>Please share pictures and videos here!!!</h2></marquee>

<img src="image1.png" width="290" height="250">
<img src="image2.png" width="290" height="250">
<img src="image3.png" width="290" height="250">
<img src="image4.png" width="290" height="250"><br>

&nbsp; <br>

<p><b>Under the picture, you can add your message<b></p>
&nbsp; <br>
&nbsp; <br>

<%= link_to 'Home', root_path %>

<hr>
Copyright &copy; 2016 by Emi Esther S. All Rights Reserved. 
<hr>

</Body></center>
</html>
