<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<center><body bgcolor="LightSeaGreen">
<h1>Alpha Blog</h1>

<hr>
HOME  |  SUBJECTS  |  VIDEOS  |  ABOUT  |  CONTACT US
<hr>


<marquee><h2>Welcome to "Alpha Blog"</h2></marquee>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/6fXmqJ06IiY" frameborder="0" allowfullscreen></iframe></center>

<form>&hearts; PLEASE SIGN UP TO RECEIVE LATEST BLOG! &hearts;<br>
	First name:<input type="text" name="firstname"><br>
	Last name:<input type="text" name="lastname"<br>
	<br>
	Email:<input type="text" name="emailaddress"<br>
	<br>
	Gender:
	<input type="radio" name="sex" value="male" checked> Male
	<input type="radio" name="sex" value="female"> Female
	<br>
	<input type="reset" value="Reset">
	<input type="submit" value="Submit">
</form><br>

<%= link_to 'About', about_path %>

<hr>
Copyright &copy; 2016 by Emi Esther S. All Rights Reserved. 
<hr>

</body></center>
</html>

